.poster-content {
  margin: 32px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #555;
  
  img {
    width: 100%;
    object-fit: cover;
  }
}

.horizontal-scroll {
  overflow-x: scroll;
  white-space: nowrap;
}

.movie-card {
  display: inline-block;
  width: 120px;
  height: 180px;
  margin: 10px;
  margin-right: 10px;

  ion-img {
    height: 100%;
    width: 100%;
    
    &::part(image) {
      object-fit: cover; 
      width: 100%;
      height: 100%;
    }
  }
}

.cartaz {
  margin: 30px 16px 16px;
  font-size: 20px;
  font-weight: bold;
}
